.haunt-img-div {
    display: flex;
    flex-direction: column;
    height: 40%;
    width: 49%;
    border-radius: 10px;
    overflow: hidden;
}

.haunt-img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.main-haunt-div {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    background-color: darkslategray;
    background-image: url('../../images/Smoke6.jpg');
    background-size: cover;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;
}

.haunt-title {
    color: red;
    width: 100%;
    margin: 5px;
    padding: 10px;
    height: 25px;
    position: relative;
}

.haunt-details-div {
    width: 48%;
    height: auto;
    display: flex;
    box-shadow: 0px 0px 10px white;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: whitesmoke;
    padding: 5px;
    margin-left: 15px;
    border-radius: 5px;
    position: relative;
    font-weight: bold;
}

.haunt-details-detail {
    padding-left: 10px;
    width: 100%;
}

.haunt-details-btn {
    border: 1px solid black;
    padding: 2px;
    border-radius: 5px;
    font-family: 'Carter One', cursive;
    text-decoration: none;
    color: black;
    cursor: pointer;
    margin: 10px;
    padding: 5px;
    transition: box-shadow 0.3s, background-color 0.3s;
}

.haunt-details-btn:hover {
    box-shadow: 2px 2px 5px black;
    background-color: lightgrey;
}

.haunt-details-btn:active {
    box-shadow: -2px -2px 1px black;
}
