.hauntTile-main-div {
    height: 300px;
    width: 300px;
    display: flex;
    margin: 10px;
    border: 1px solid white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 10px white;
    background-color: darkslategrey;
}

.hauntTile-main-div:hover {
    background-color: black;
    box-shadow: 0px 0px 5px whitesmoke;
    transition: background-color 0.5s;
}

.hauntTile-img {
    height: 70%;
    width: 100%;
}

.hauntTile-name {
    text-decoration: none;
    color: red;
    cursor: pointer;
    margin-left: 20px;
}

.hauntTile-address {
    margin-left: 20px;
    color: lightgrey;
}

.hauntTile-price {
    margin-left: 20px;
    color: white;
}

.hauntTile-activity {
    margin-left: 20px;
    color: white;
}
