.hauntTile-main-div {
    height: 300px;
    width: 300px;
    display: flex;
    margin: 10px;
    border: 1px solid black;
    border-radius: 10px;
    overflow: hidden;
}

.hauntTile-img {
    height: 70%;
    width: 100%;
}

.hauntTile-name {
    text-decoration: none;
    color: black;
    cursor: pointer;
}
