.hauntTile-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 100vh;
}

.title-div {
    display: flex;
    justify-content: center;
    color: white;
}

.main-home-div {
    padding-top: 20px;
    background-image: url('../../images/Smoke2.jpg');
    background-color: darkslategrey;
    background-size: cover;

}

.loading-div {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading-img {
    height: 300px;
    width: 300px;
}
